@import url(global-styles.css);
section {
  margin: var(--size500) 0;
}
.title > h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: var(--n100);
  margin: 0;
}
.title > h3:nth-child(2) {
  margin: 0 0 var(--size350) 0;
}
.title > .divider {
  width: 378px;
  height: 1px;
  border-top: 1px var(--n20) dashed;
  margin: auto;
}
section > form {
  width: 62%;
  margin: 80px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
form .form-group {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
form > .mail-details {
  width: 100%;
  margin: var(--size400) 0;
}
form > .mail-details > .form-group:first-child {
  margin-bottom: var(--size350);
}
.form-group > .form-control {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--n100);
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px var(--n60) solid;
  width: 100%;
}
.form-group .form-control.invalid {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--n100);
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px red solid;
  width: 100%;
}
.form-control + .invalid-label {
  display: none;
}
.form-control.invalid + .invalid-label.active {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--n100);
  margin-top: var(--size200);
  margin-left: var(--size300);
  display: inline;
}
.form-group > .form-control:focus {
  outline: none;
  border: 1px var(--p100) solid;
  box-shadow: 0 0 2px 2px var(--p60);
  transition: box-shadow 0.3s ease;
}
.form-group > .form-control.invalid:focus {
  outline: none;
  border: 1px red solid;
  box-shadow: 0 0 2px 2px #ff7a7a;
  transition: box-shadow 0.3s ease;
}
.form-group > .form-control::placeholder {
  color: var(--n40);
}
.form-control#comboBox {
  font-weight: 500;
  color: var(--n95);
}
.form-control#comboBox > option {
  font-weight: 400;
  color: var(--n100);
}
form > .form-check {
  margin: var(--size350) 0 var(--size300) var(--size350);
  align-self: baseline;
}
.form-check > label {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: var(--n100);
}
.form-check > label > a {
  text-decoration: none;
  color: var(--p100);
}
form > button[type="submit"] {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding: 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--n10);
  border-radius: 1000px;
  color: var(--n40);
  border: none;
  cursor: not-allowed;
  pointer-events: none;
}
form > button[type="submit"].allowed {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding: 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--p100);
  border-radius: 1000px;
  color: var(--n00);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out, transform 0.2s ease;
  pointer-events: auto;
}
form > button[type="submit"].allowed:hover {
  background-color: rgba(72, 90, 255, 0.8);
  box-shadow: 0 2px 12px rgba(18, 18, 18, 0.15);
  transform: translate(0, -2px);
}
form > button[type="submit"].allowed:active {
  background-color: var(--n100);
  transform: scale(0.9);
}
form > .submit {
  display: none;
}
form > .submit.success {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--n00);
  padding: 16px 32px;
  margin-top: var(--size300);
  border-radius: 12px;
  background-color: #00c851;
  display: block;
}
form > .submit.error {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--n00);
  padding: 16px 32px;
  margin-top: var(--size300);
  border-radius: 12px;
  background-color: #f44;
  display: block;
}
@media (prefers-color-scheme: dark) {
  .title > h3 {
    color: var(--n00);
  }
  .title > .divider {
    border-top: 1px var(--n20) dashed;
  }
  .form-group > .form-control {
    background-color: var(--n100);
    color: var(--n00);
    border: 1px var(--n40) solid;
  }
  .form-group .form-control.invalid {
    color: var(--n00);
    border: 1px #ff6060 solid;
  }
  .form-control.invalid + .invalid-label.active {
    color: var(--n00);
  }
  .form-group > .form-control:focus {
    border: 1px var(--p40) solid;
    box-shadow: 0 0 2px 2px var(--p40);
  }
  .form-group > .form-control.invalid:focus {
    border: 1px #ff6060 solid;
    box-shadow: 0 0 2px 2px #ff7575;
  }
  .form-control#comboBox {
    color: var(--n00);
  }
  .form-control#comboBox > option {
    color: var(--n00);
  }
  .form-check > label {
    color: var(--n00);
  }
  .form-check > label > a {
    color: var(--p40);
  }
  form > button[type="submit"] {
    background-color: var(--n90);
    color: var(--n60);
  }
  form > button[type="submit"].allowed {
    background-color: var(--p40);
    color: var(--n100);
  }
  form > button[type="submit"].allowed:hover {
    background-color: rgba(182, 189, 255, 0.8);
  }
  form > button[type="submit"].allowed:active {
    background-color: var(--n00);
    color: var(--n100);
  }
  form > .submit.success {
    color: var(--n100);
  }
  form > .submit.error {
    color: var(--n100);
  }
}
@media screen and (max-width: 576px) {
  section {
    margin: var(--size400) 0 0 0;
  }
  .title > h3 {
    font-size: 28px;
    line-height: 40px;
  }
  .title > h3:nth-child(2) {
    margin: 0 0 var(--size300) 0;
  }
  .title > .divider {
    display: none;
  }
  section > form {
    width: 100%;
    margin: 60px auto;
  }
  form > .mail-details {
    margin: var(--size350) 0;
  }
  form > .mail-details > .form-group:first-child {
    margin-bottom: var(--size300);
  }
  .form-group > .form-control {
    font-size: 16px;
    line-height: 26px;
    border: 1px var(--n90) solid;
  }
  .form-group .form-control.invalid {
    font-size: 16px;
    line-height: 26px;
  }
  .form-control + .invalid-label {
    font-size: 14px;
    line-height: 24px;
    display: none;
  }
  .form-group > .form-control::placeholder {
    color: var(--n60);
  }
  .form-check > label {
    font-size: 16px;
    line-height: 26px;
  }
  form > button[type="submit"] {
    font-size: 12px;
    padding: 10px 64px;
  }
  form > button[type="submit"].allowed {
    font-size: 12px;
    padding: 10px 64px;
  }
  form > button[type="submit"].allowed:hover {
    transition: 0.2s ease-out;
    background-color: rgba(72, 90, 255, 0.8);
  }
  form > button[type="submit"].allowed:active {
    background-color: var(--n100);
  }
  form > .submit.success {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 24px;
  }
  form > .submit.error {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 24px;
  }
}
