@import url(global-styles.css);
section {
  margin: var(--size500) 0;
}
section > .title {
  display: inline-block;
  margin: 0 0 72px 0;
}
.title > h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  color: var(--n100);
  margin: 0 0 var(--size350) 0;
}
.title > .divider {
  width: 378px;
  height: 1px;
  border-top: 1px var(--n20) dashed;
}
.privacy-policies > h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: var(--n100);
  margin: 0 0 var(--size300) 0;
}
.privacy-policies > p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--n100);
  margin: 0 0 var(--size300) 0;
}
.privacy-policies > p > strong {
  font-weight: 500;
}
.privacy-policies > ol > li {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--n100);
  list-style: disc;
}
.privacy-policies > ol > li > a {
  text-decoration: none;
  font-weight: 500;
  color: var(--p100);
}
.privacy-policies > ol > li > a:active {
  color: var(--p140);
}
@media (prefers-color-scheme: dark) {
  .title > h2 {
    color: var(--n00);
  }
  .privacy-policies > h3 {
    color: var(--n00);
  }
  .privacy-policies > p {
    color: var(--n00);
  }
  .privacy-policies > ol > li {
    color: var(--n00);
  }
  .privacy-policies > ol > li > a {
    color: var(--p40);
  }
  .privacy-policies > ol > li > a:active {
    color: var(--p80);
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 92%;
    margin: auto;
  }
  section {
    margin: var(--size400) 0;
  }
  section > .title {
    display: block;
    margin: 0 0 var(--size350) 0;
  }
  .title > h2 {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin: 0;
  }
  .title > .divider {
    display: none;
  }
  .privacy-policies > h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
  }
  .privacy-policies > p {
    font-size: 16px;
    line-height: 26px;
  }
  .privacy-policies > ol > li {
    font-size: 16px;
    line-height: 26px;
  }
  .privacy-policies > ol > li > a {
    text-decoration: none;
    font-weight: 500;
  }
}
